nextflow.enable.dsl = 2

includeConfig "configs/base.config"
includeConfig "configs/sge.config"

params.max_cpus   = 8
params.max_memory = '32 GB'
params.max_time   = '24.h'
params.outdir     = 'results'

// per-tool caps; users can override on CLI if they want
params.trim_galore_cpus   = 4
params.trim_galore_memory = '16 GB'

params.fastqc_cpus   = 2
params.fastqc_memory = '8 GB'

params.star_index_cpus   = 8
params.star_index_memory = '64 GB'

params.star_align_cpus   = 8
params.star_align_memory = '32 GB'

params.featurecounts_cpus   = 4
params.featurecounts_memory = '16 GB'

params.kallisto_quant_cpus   = 4
params.kallisto_quant_memory = '16 GB'

params.mpileup_gls_cpus   = 4
params.mpileup_gls_memory = '16 GB'

profiles {
  conda {
    conda.enabled = true
  }
}