includeConfig "${workflow.projectRoot}/configs/base.config"
params.schema = "${workflow.projectRoot}/workflows/bovreg-twas-model/nextflow_schema.json"
params.outdir_model = 'results_model'
params.make_twas_plots = true

process {
  withName: train_model_R {
    conda = "${workflow.projectRoot}/envs/r_peer_predixcan.yml"
  }
  withName: merge_weights_to_sqlite {
    conda = "${workflow.projectRoot}/envs/r_peer_predixcan.yml"
  }
  withName: s_predixcan {
    conda = "${workflow.projectRoot}/envs/r_peer_predixcan.yml"
    publishDir = [
      path: "${params.outdir_model}/s_predixcan",
      mode: 'copy',
      overwrite: true
    ]
  }
  withName: plot_twas_manhattan {
    conda = "${workflow.projectRoot}/envs/r_peer_predixcan.yml"
    publishDir = [
      path: "${params.outdir_model}/twas_plots",
      mode: 'copy',
      overwrite: true
    ]
  }
}
