conda {
  enabled = true
  useMamba = false
  useMicromamba = false
}

process {
  withName: parse_sample_sheet { conda = "${projectDir}/../../envs/python.yml" }
  withName: trim_galore       { conda = "${projectDir}/../../envs/qc.yml" }
  withName: fastqc            { conda = "${projectDir}/../../envs/qc.yml" }
  withName: multiqc           { conda = "${projectDir}/../../envs/qc.yml" }

  withName: star_index        { conda = "${projectDir}/../../envs/star.yml" }
  withName: star_align        { conda = "${projectDir}/../../envs/star.yml" }

  withName: featurecounts     { conda = "${projectDir}/../../envs/counts.yml" }
  withName: merge_featurecounts     { conda = "${projectDir}/../../envs/counts.yml" }

  withName: kallisto_index    { conda = "${projectDir}/../../envs/kallisto.yml" }
  withName: kallisto_quant    { conda = "${projectDir}/../../envs/kallisto.yml" }

  withName: quantile_norm     { conda = "${projectDir}/../../envs/r_peer.yml" }
  withName: peer_factors      { conda = "${projectDir}/../../envs/r_peer.yml" }

  withName: mpileup_gls       { conda = "${projectDir}/../../envs/hts.yml" }
  withName: prepare_reference { conda = "${projectDir}/../../envs/hts.yml" }

  withName: glimpse_chunk     { conda = "${projectDir}/../../envs/glimpse.yml" }
  withName: glimpse_phase     { conda = "${projectDir}/../../envs/glimpse.yml" }
  withName: glimpse_ligate    { conda = "${projectDir}/../../envs/glimpse.yml" }
}