nextflow.enable.dsl = 2
nextflow.preview.dsl = true

params.schemaVersion = '1.0.0'

params.schema = "nextflow_schema.json"

includeConfig "../../configs/base.config"

params.max_cpus   = 32
params.max_memory = '128 GB'
params.max_time   = '72.h'

process {
  errorStrategy = 'retry'
  maxRetries = 2
  maxErrors  = 10
}

