nextflow.enable.dsl = 2
nextflow.preview.dsl = true

params.schemaVersion = '1.0.0'

params.schema = "nextflow_schema.json"

includeConfig "../../configs/base.config"

params.max_cpus   = 32
params.max_memory = '128 GB'
params.max_time   = '72.h'
params.outdir     = 'results'

process {
  errorStrategy = 'retry'
  maxRetries = 2
  maxErrors  = 10

  withName: fastqc {
    conda = "${projectDir}/../../envs/qc.yml"
  }

  withName: multiqc {
    conda = "${projectDir}/../../envs/qc.yml"
    publishDir = [
      path: "${params.outdir}/multiqc",
      mode: 'copy',
      overwrite: true
    ]
  }
}

profiles {
  conda {
    conda.enabled = true
  }
}

