profiles {
  sge {
    process.executor = 'sge'

    // Set these on CLI for your cluster, e.g. --queue short.q --sge_penv smp.
    params.queue = params.queue ?: ''
    params.sge_penv = params.sge_penv ?: 'smp'
    params.sge_cluster_options = params.sge_cluster_options ?: ''

    conda.enabled = true
    conda.useMamba = true

    process {
      queue = params.queue
      penv = params.sge_penv
      clusterOptions = params.sge_cluster_options
      cpus = { Math.min(4, params.max_cpus as Integer) }
      memory = { params.max_memory }
      time = { params.max_time }
    }

    executor {
      queueSize = 100
      submitRateLimit = '20 sec'
      pollInterval = '30 sec'
    }
  }
}
